<div class="row">
  <div class="col-md-6">
    <br>
    <h1 style=" text-align: center; font-weight: bold; font-family: 'Times New Roman', Times, serif ">TO-DO LIST</h1>
    <app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
    <div *ngFor="let todo of todos; index as i ">
      
      <app-todo-item *ngIf="!todo.completed" [todo]="todo" [index]=i (deleteTodo)="deleteTodo($event)">
      </app-todo-item>
    </div>
  </div>

  <div class="vr">&nbsp;</div>

  <div class="col-md-6">
      <h1 style=" text-align: center; font-weight: bold; font-family: 'Times New Roman', Times, serif ">COMPLETED LIST</h1>
      <app-add-todo  style="visibility: hidden"></app-add-todo>
    <div *ngFor="let todo of todos; index as i">
        
      <app-comtodo-item [todo]="todo"  *ngIf="todo.completed" [index]=i (deleteTodo)="deleteTodo($event)">


      </app-comtodo-item>
    </div>


  </div>


</div>